openapi: 3.0.1
info:
  title: NavPro API
  description: >
    Welcome to the NavPro API documentation. NavPro enables fleet operators and
    integration partners to manage drivers, trips, vehicles, and fleet assets
    programmatically — including driver invitation, GPS tracking, trip routing,
    document management, and more. By accessing or using the NavPro API, you are
    agreeing to the Trucker Path Terms of Service.


    Need help? Email us at: integrations@truckerpath.com


    # Release Note

    03/31/2026&emsp;&emsp;NavPro API is now live


    # API Versioning

    Current version: **v1** (stable). The base URL is
    `https://api.truckerpath.com/navpro`.


    Non-breaking additions (new optional fields, new endpoints) are introduced
    without a version bump.

    Breaking changes will be released under a new major version (e.g.,
    `/v2/...`) with advance notice.


    # Rate Limiting

    To ensure reliable service across all integration partners, we recommend
    keeping your request rate below **25 requests per second (QPS)** per client.
    Exceeding this threshold may result in degraded response times.


    If your integration requires higher throughput, please contact us at
    integrations@truckerpath.com.
  termsOfService: https://truckerpath.com/terms-of-service/
  version: "1.0"
servers:
  - url: https://api.truckerpath.com/navpro
    description: Production
tags:
  - name: 0. Drivers APIS
    description: The API allows partners to invite drivers to a network of NavPro
      operators and perform various operational behaviors.
  - name: 1. Vehicles APIS
    description: This API allows the NavPro Company to manage vehicles and their
      associations with drivers or loads.
  - name: 2. Tracking APIS
    description: Tracks the movement of a driver at a certain time.
  - name: 3. Document APIS
    description: Manage all documents within your company.
  - name: 4. Terminal APIS
    description: Create and manage different terminals to organize and group drivers.
  - name: 5. Users APIS
    description: Used for managing and retrieving all users under the company and
      their associated information.
  - name: 6. Poi APIS
    description: Manage your company's custom POIs and associated last-mile data
      through this API.
  - name: 7. Trip APIS
    description: Manage customized trip routes for fleet drivers.
  - name: 8. Routing Profile APIS
    description: Manage and retrieve truck routing profiles. A routing profile
      defines truck dimensions and weight constraints used for route
      calculation.
paths:
  /api/vehicle/update/status:
    post:
      tags:
        - 1. Vehicles APIS
      summary: Update Status
      description: Modify the status of the specified vehicle. Required information
        can be obtained through vehicle/query.
      operationId: updateVehicleStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStatusVehicleInfo"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseVo"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{\"vehicle_id\": 12345,\"vehicle_status\": \"INACTIVE\" }");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/vehicle/update/status")
              .method("POST",body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();
          lang: Java
        - source: >
            curl --location --request POST
            'https://api.truckerpath.com/navpro/api/vehicle/update/status' \

            --header 'Authorization: Bearer {your_jwtToken}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                          "vehicle_id": 12345,
                          "vehicle_status": "INACTIVE"
                        }'
          lang: CURL
        - source: >
            var request = require('request');

            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/vehicle/update/status',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                        "vehicle_id": 12345,
                        "vehicle_status": "INACTIVE"
                    }
                )

            };

            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: >
            package main


            import (
               "fmt"
               "strings"
               "net/http"
               "io/ioutil"
            )


            func main() {

               url := "https://api.truckerpath.com/navpro/api/vehicle/update/status"
               method := "POST"

               payload := strings.NewReader(`{
                                               "vehicle_id": 12345,
                                               "vehicle_status": "INACTIVE"
                                             }`)

               client := &http.Client {
               }
               req, err := http.NewRequest(method, url, payload)

               if err != nil {
                  fmt.Println(err)
                  return
               }
               req.Header.Add("Authorization", "Bearer {your_jwtToken}")
               req.Header.Add("Content-Type", "application/json")

               res, err := client.Do(req)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               defer res.Body.Close()

               body, err := ioutil.ReadAll(res.Body)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               fmt.Println(string(body))
            }
          lang: GO
        - source: >
            <?php


            $curl = curl_init();


            curl_setopt_array($curl, array(
               CURLOPT_URL => 'https://api.truckerpath.com/navpro/api/vehicle/update/status',
               CURLOPT_RETURNTRANSFER => true,
               CURLOPT_ENCODING => '',
               CURLOPT_MAXREDIRS => 10,
               CURLOPT_TIMEOUT => 0,
               CURLOPT_FOLLOWLOCATION => true,
               CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
               CURLOPT_CUSTOMREQUEST => 'POST',
               CURLOPT_POSTFIELDS =>'{
                                       "vehicle_id": 12345,
                                       "vehicle_status": "INACTIVE"
                                     }',
               CURLOPT_HTTPHEADER => array(
                  'Authorization: Bearer {your_jwtToken}',
                  'Content-Type: application/json'
               ),
            ));


            $response = curl_exec($curl);


            curl_close($curl);

            echo $response;
          lang: PHP
        - source: >
            import requests

            import json


            url = "https://api.truckerpath.com/navpro/api/vehicle/update/status"


            payload = json.dumps({
                                   "vehicle_id": 12345,
                                   "vehicle_status": "INACTIVE"
                                 })
            headers = {
               'Authorization': 'Bearer {your_jwtToken}',
               'Content-Type': 'application/json'
            }


            response = requests.request("POST", url, headers=headers,
            data=payload)


            print(response.text)
          lang: Python
  /api/vehicle/query:
    post:
      tags:
        - 1. Vehicles APIS
      summary: Query Vehicles
      description: Retrieve all vehicles under the company based on specified conditions.
      operationId: queryVehicle
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryVehicleInfo"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResultVehicleDataVO"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >+
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{\"status\": \"ACTIVE\",\"vehicle_type\": \"TRUCK\",\"page\": 0,\"size\": 20,\"search_name\": \"My Truck101\",\"owner_list\": [ 111123,231312]}");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/vehicle/query")
              .method("POST",body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();

          lang: Java
        - source: >
            curl --location --request POST
            'https://api.truckerpath.com/navpro/api/vehicle/query' \

            --header 'Authorization: Bearer {your_jwtToken}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                          "status": "ACTIVE",
                          "vehicle_type": "TRUCK",
                          "page": 0,
                          "size": 20,
                          "search_name": "My Truck101",
                          "owner_list": [
                            111123,
                            231312
                          ]
                        }'
          lang: CURL
        - source: |
            var request = require('request');
            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/vehicle/query',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "status": "ACTIVE",
                    "vehicle_type": "TRUCK",
                    "page": 0,
                    "size": 20,
                    "search_name": "My Truck101",
                    "owner_list": [
                        111123,
                        231312
                    ]
                })

            };
            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: |
            package main

            import (
               "fmt"
               "net/http"
               "io/ioutil"
            )

            func main() {

               url := "https://api.truckerpath.com/navpro/api/vehicle/query"
               method := "POST"


                payload := strings.NewReader(`{
                                                "status": "ACTIVE",
                                                "vehicle_type": "TRUCK",
                                                "page": 0,
                                                "size": 20,
                                                "search_name": "My Truck101",
                                                "owner_list": [
                                                  111123,
                                                  231312
                                                ]
                                              }`)

               client := &http.Client {
               }
               req, err := http.NewRequest(method, url, nil)

               if err != nil {
                  fmt.Println(err)
                  return
               }
               req.Header.Add("Authorization", "Bearer {your_jwtToken}")
               req.Header.Add("Content-Type", "application/json")

               res, err := client.Do(req)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               defer res.Body.Close()

               body, err := ioutil.ReadAll(res.Body)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               fmt.Println(string(body))
            }
          lang: GO
        - source: >
            <?php


            $curl = curl_init();


            curl_setopt_array($curl, array(
               CURLOPT_URL => 'https://api.truckerpath.com/navpro/api/load/query',
               CURLOPT_RETURNTRANSFER => true,
               CURLOPT_ENCODING => '',
               CURLOPT_MAXREDIRS => 10,
               CURLOPT_TIMEOUT => 0,
               CURLOPT_FOLLOWLOCATION => true,
               CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
               CURLOPT_CUSTOMREQUEST => 'POST',
               CURLOPT_POSTFIELDS =>'{
                                       "status": "ACTIVE",
                                       "vehicle_type": "TRUCK",
                                       "page": 0,
                                       "size": 20,
                                       "search_name": "My Truck101",
                                       "owner_list": [
                                       111123,
                                       231312
                                       ]
                                       }',
               CURLOPT_HTTPHEADER => array(
                  'Authorization: Bearer {your_jwtToken}',
                  'Content-Type: application/json'
               ),
            ));


            $response = curl_exec($curl);


            curl_close($curl);

            echo $response;
          lang: PHP
        - source: >
            import requests

            import json


            url = "https://api.truckerpath.com/navpro/api/vehicle/query"


            payload = json.dumps({
                                   "status": "ACTIVE",
                                   "vehicle_type": "TRUCK",
                                   "page": 0,
                                   "size": 20,
                                   "search_name": "My Truck101",
                                   "owner_list": [
                                   111123,
                                   231312
                                   ]
                                   })
            headers = {
               'Authorization': 'Bearer {your_jwtToken}',
               'Content-Type': 'application/json'
            }


            response = requests.request("POST", url, headers=headers,
            data=payload)


            print(response.text)
          lang: Python
  /api/vehicle/edit:
    post:
      tags:
        - 1. Vehicles APIS
      summary: Edit Vehicle
      description: Modify all information for a specified vehicle.
      operationId: editVehicle
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditVehicleInfo"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseVo"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{\"vehicle_id\": 12345,\"vehicle_no\": \"Truck001\",\"vehicle_type\": \"TRUCK\",\"vehicle_vin\": \"12345\",\"fuel_type\": \"GASOLINE\",\"trailer_type\": \"VAN\",\"axles\": \"AXLES_8\",\"gross_vehicle_weight\": 130,\"vehicle_year\": \"2022\",\"vehicle_make\": \"CHRYSLER\",\"vehicle_model\": \"Pacifica\",\"assign_drivers\": [ 11111, 22222 ],\"vehicle_details\": {\"vehicle_height\": 123,\"vehicle_width\": 123,\"vehicle_length\": 123,\"vehicle_odometer\": 5574.49,\"vehicle_owner_name\": \"John Doe\",\"year_purchased\": \"2025\",\"tire_info\": \"Example\",\"transmission\": \"MANUAL\",\"sleeper_berth\": false,\"braking\": \"FULL_AIR_BRAKE\",\"fuel_capacity\": 300 },\"status\": \"ACTIVE\" }");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/vehicle/edit")
              .method("POST",body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();
          lang: Java
        - source: >
            curl --location --request POST
            'https://api.truckerpath.com/navpro/api/vehicle/edit' \

            --header 'Authorization: Bearer {your_jwtToken}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                          "vehicle_id": 12345,
                          "vehicle_no": "Truck001",
                          "vehicle_type": "TRUCK",
                          "vehicle_vin": "12345",
                          "fuel_type": "GASOLINE",
                          "trailer_type": "VAN",
                          "axles": "AXLES_8",
                          "gross_vehicle_weight": 130,
                          "vehicle_year": "2022",
                          "vehicle_make": "CHRYSLER",
                          "vehicle_model": "Pacifica",
                          "assign_drivers": [
                            11111,
                            22222
                          ],
                          "vehicle_details": {
                            "vehicle_height": 123,
                            "vehicle_width": 123,
                            "vehicle_length": 123,
                            "vehicle_odometer": 5574.49,
                            "vehicle_owner_name": "John Doe",
                            "year_purchased": "2025",
                            "tire_info": "Example",
                            "transmission": "MANUAL",
                            "sleeper_berth": false,
                            "braking": "FULL_AIR_BRAKE",
                            "fuel_capacity": 300
                          },
                          "status": "ACTIVE"
                        }'
          lang: CURL
        - source: |
            var request = require('request');
            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/vehicle/edit',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "vehicle_id": 12345,
                    "vehicle_no": "Truck001",
                    "vehicle_type": "TRUCK",
                    "vehicle_vin": "12345",
                    "fuel_type": "GASOLINE",
                    "trailer_type": "VAN",
                    "axles": "AXLES_8",
                    "gross_vehicle_weight": 130,
                    "vehicle_year": "2022",
                    "vehicle_make": "CHRYSLER",
                    "vehicle_model": "Pacifica",
                    "assign_drivers": [
                        11111,
                        22222
                    ],
                    "vehicle_details": {
                        "vehicle_height": 123,
                        "vehicle_width": 123,
                        "vehicle_length": 123,
                        "vehicle_odometer": 5574.49,
                        "vehicle_owner_name": "John Doe",
                        "year_purchased": "2025",
                        "tire_info": "Example",
                        "transmission": "MANUAL",
                        "sleeper_berth": false,
                        "braking": "FULL_AIR_BRAKE",
                        "fuel_capacity": 300
                    },
                    "status": "ACTIVE"
                })

            };
            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: >
            package main


            import (
               "fmt"
               "strings"
               "net/http"
               "io/ioutil"
            )


            func main() {

               url := "https://api.truckerpath.com/navpro/api/vehicle/edit"
               method := "POST"

               payload := strings.NewReader(`{
                                               "vehicle_id": 12345,
                                               "vehicle_no": "Truck001",
                                               "vehicle_type": "TRUCK",
                                               "vehicle_vin": "12345",
                                               "fuel_type": "GASOLINE",
                                               "trailer_type": "VAN",
                                               "axles": "AXLES_8",
                                               "gross_vehicle_weight": 130,
                                               "vehicle_year": "2022",
                                               "vehicle_make": "CHRYSLER",
                                               "vehicle_model": "Pacifica",
                                               "assign_drivers": [
                                                 11111,
                                                 22222
                                               ],
                                               "vehicle_details": {
                                                 "vehicle_height": 123,
                                                 "vehicle_width": 123,
                                                 "vehicle_length": 123,
                                                 "vehicle_odometer": 5574.49,
                                                 "vehicle_owner_name": "John Doe",
                                                 "year_purchased": "2025",
                                                 "tire_info": "Example",
                                                 "transmission": "MANUAL",
                                                 "sleeper_berth": false,
                                                 "braking": "FULL_AIR_BRAKE",
                                                 "fuel_capacity": 300
                                               },
                                               "status": "ACTIVE"
                                             }`)

               client := &http.Client {
               }
               req, err := http.NewRequest(method, url, payload)

               if err != nil {
                  fmt.Println(err)
                  return
               }
               req.Header.Add("Authorization", "Bearer {your_jwtToken}")
               req.Header.Add("Content-Type", "application/json")

               res, err := client.Do(req)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               defer res.Body.Close()

               body, err := ioutil.ReadAll(res.Body)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               fmt.Println(string(body))
            }
          lang: GO
        - source: >
            <?php


            $curl = curl_init();


            curl_setopt_array($curl, array(
               CURLOPT_URL => 'https://api.truckerpath.com/navpro/api/load/edit',
               CURLOPT_RETURNTRANSFER => true,
               CURLOPT_ENCODING => '',
               CURLOPT_MAXREDIRS => 10,
               CURLOPT_TIMEOUT => 0,
               CURLOPT_FOLLOWLOCATION => true,
               CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
               CURLOPT_CUSTOMREQUEST => 'POST',
               CURLOPT_POSTFIELDS =>'{
                                       "vehicle_id": 12345,
                                       "vehicle_no": "Truck001",
                                       "vehicle_type": "TRUCK",
                                       "vehicle_vin": "12345",
                                       "fuel_type": "GASOLINE",
                                       "trailer_type": "VAN",
                                       "axles": "AXLES_8",
                                       "gross_vehicle_weight": 130,
                                       "vehicle_year": "2022",
                                       "vehicle_make": "CHRYSLER",
                                       "vehicle_model": "Pacifica",
                                       "assign_drivers": [
                                         11111,
                                         22222
                                       ],
                                       "vehicle_details": {
                                         "vehicle_height": 123,
                                         "vehicle_width": 123,
                                         "vehicle_length": 123,
                                         "vehicle_odometer": 5574.49,
                                         "vehicle_owner_name": "John Doe",
                                         "year_purchased": "2025",
                                         "tire_info": "Example",
                                         "transmission": "MANUAL",
                                         "sleeper_berth": false,
                                         "braking": "FULL_AIR_BRAKE",
                                         "fuel_capacity": 300
                                       },
                                       "status": "ACTIVE"
                                     }',
               CURLOPT_HTTPHEADER => array(
                  'Authorization: Bearer {your_jwtToken}',
                  'Content-Type: application/json'
               ),
            ));


            $response = curl_exec($curl);


            curl_close($curl);

            echo $response;
          lang: PHP
        - source: >
            import requests

            import json


            url = "https://api.truckerpath.com/navpro/api/vehicle/edit"


            payload = json.dumps({
                                   "vehicle_id": 12345,
                                   "vehicle_no": "Truck001",
                                   "vehicle_type": "TRUCK",
                                   "vehicle_vin": "12345",
                                   "fuel_type": "GASOLINE",
                                   "trailer_type": "VAN",
                                   "axles": "AXLES_8",
                                   "gross_vehicle_weight": 130,
                                   "vehicle_year": "2022",
                                   "vehicle_make": "CHRYSLER",
                                   "vehicle_model": "Pacifica",
                                   "assign_drivers": [
                                     11111,
                                     22222
                                   ],
                                   "vehicle_details": {
                                     "vehicle_height": 123,
                                     "vehicle_width": 123,
                                     "vehicle_length": 123,
                                     "vehicle_odometer": 5574.49,
                                     "vehicle_owner_name": "John Doe",
                                     "year_purchased": "2025",
                                     "tire_info": "Example",
                                     "transmission": "MANUAL",
                                     "sleeper_berth": false,
                                     "braking": "FULL_AIR_BRAKE",
                                     "fuel_capacity": 300
                                   },
                                   "status": "ACTIVE"
                                 })
            headers = {
               'Authorization': 'Bearer {your_jwtToken}',
               'Content-Type': 'application/json'
            }


            response = requests.request("POST", url, headers=headers,
            data=payload)


            print(response.text)
          lang: Python
  /api/vehicle/add:
    post:
      tags:
        - 1. Vehicles APIS
      summary: Add Vehicle
      description: Add a new vehicle to your company.
      operationId: addVehicle
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VehicleInfo"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdResultVO"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{\"vehicle_type\": \"TRUCK\",\"vehicle_no\": \"Truck001\",\"vehicle_vin\": \"12345\",\"fuel_type\": \"GASOLINE\",\"trailer_type\": \"VAN\",\"axles\": \"AXLES_8\",\"gross_vehicle_weight\": 230,\"vehicle_year\": \"2020\",\"vehicle_make\": \"CHRYSLER\",\"vehicle_model\": \"Pacifica\",\"assign_drivers\": [ 11111, 22222],\"vehicle_details\": {\"vehicle_height\": 123,\"vehicle_width\": 123,\"vehicle_length\": 123,\"vehicle_odometer\": 5574.49,\"vehicle_owner_name\": \"John Doe\",\"year_purchased\": \"2025\",\"tire_info\": \"Example\",\"transmission\": \"MANUAL\",\"sleeper_berth\": false,\"braking\": \"FULL_AIR_BRAKE\",\"fuel_capacity\": 300 }}");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/vehicle/add")
              .method("POST",body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();
          lang: Java
        - source: >
            curl --location --request POST
            'https://api.truckerpath.com/navpro/api/vehicle/add' \

            --header 'Authorization: Bearer {your_jwtToken}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                          "vehicle_type": "TRUCK",
                          "vehicle_no": "Truck001",
                          "vehicle_vin": "12345",
                          "fuel_type": "GASOLINE",
                          "trailer_type": "VAN",
                          "axles": "AXLES_8",
                          "gross_vehicle_weight": 230,
                          "vehicle_year": "2020",
                          "vehicle_make": "CHRYSLER",
                          "vehicle_model": "Pacifica",
                          "assign_drivers": [
                            11111,
                            22222
                          ],
                          "vehicle_details": {
                            "vehicle_height": 123,
                            "vehicle_width": 123,
                            "vehicle_length": 123,
                            "vehicle_odometer": 5574.49,
                            "vehicle_owner_name": "John Doe",
                            "year_purchased": "2025",
                            "tire_info": "Example",
                            "transmission": "MANUAL",
                            "sleeper_berth": false,
                            "braking": "FULL_AIR_BRAKE",
                            "fuel_capacity": 300
                          }
                        }'
          lang: CURL
        - source: |
            var request = require('request');
            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/vehicle/add',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "vehicle_type": "TRUCK",
                    "vehicle_no": "Truck001",
                    "vehicle_vin": "12345",
                    "fuel_type": "GASOLINE",
                    "trailer_type": "VAN",
                    "axles": "AXLES_8",
                    "gross_vehicle_weight": 230,
                    "vehicle_year": "2020",
                    "vehicle_make": "CHRYSLER",
                    "vehicle_model": "Pacifica",
                    "assign_drivers": [
                        11111,
                        22222
                    ],
                    "vehicle_details": {
                        "vehicle_height": 123,
                        "vehicle_width": 123,
                        "vehicle_length": 123,
                        "vehicle_odometer": 5574.49,
                        "vehicle_owner_name": "John Doe",
                        "year_purchased": "2025",
                        "tire_info": "Example",
                        "transmission": "MANUAL",
                        "sleeper_berth": false,
                        "braking": "FULL_AIR_BRAKE",
                        "fuel_capacity": 300
                    }
                })

            };
            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: >
            package main


            import (
               "fmt"
               "strings"
               "net/http"
               "io/ioutil"
            )


            func main() {

               url := "https://api.truckerpath.com/navpro/api/vehicle/add"
               method := "POST"

               payload := strings.NewReader(`{
                                               "vehicle_type": "TRUCK",
                                               "vehicle_no": "Truck001",
                                               "vehicle_vin": "12345",
                                               "fuel_type": "GASOLINE",
                                               "trailer_type": "VAN",
                                               "axles": "AXLES_8",
                                               "gross_vehicle_weight": 230,
                                               "vehicle_year": "2020",
                                               "vehicle_make": "CHRYSLER",
                                               "vehicle_model": "Pacifica",
                                               "assign_drivers": [
                                                 11111,
                                                 22222
                                               ],
                                               "vehicle_details": {
                                                 "vehicle_height": 123,
                                                 "vehicle_width": 123,
                                                 "vehicle_length": 123,
                                                 "vehicle_odometer": 5574.49,
                                                 "vehicle_owner_name": "John Doe",
                                                 "year_purchased": "2025",
                                                 "tire_info": "Example",
                                                 "transmission": "MANUAL",
                                                 "sleeper_berth": false,
                                                 "braking": "FULL_AIR_BRAKE",
                                                 "fuel_capacity": 300
                                               }
                                             }`)

               client := &http.Client {
               }
               req, err := http.NewRequest(method, url, payload)

               if err != nil {
                  fmt.Println(err)
                  return
               }
               req.Header.Add("Authorization", "Bearer {your_jwtToken}")
               req.Header.Add("Content-Type", "application/json")

               res, err := client.Do(req)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               defer res.Body.Close()

               body, err := ioutil.ReadAll(res.Body)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               fmt.Println(string(body))
            }
          lang: GO
        - source: >
            <?php


            $curl = curl_init();


            curl_setopt_array($curl, array(
               CURLOPT_URL => 'https://api.truckerpath.com/navpro/api/vehicle/add',
               CURLOPT_RETURNTRANSFER => true,
               CURLOPT_ENCODING => '',
               CURLOPT_MAXREDIRS => 10,
               CURLOPT_TIMEOUT => 0,
               CURLOPT_FOLLOWLOCATION => true,
               CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
               CURLOPT_CUSTOMREQUEST => 'POST',
               CURLOPT_POSTFIELDS =>'{
                                       "vehicle_type": "TRUCK",
                                       "vehicle_no": "Truck001",
                                       "vehicle_vin": "12345",
                                       "fuel_type": "GASOLINE",
                                       "trailer_type": "VAN",
                                       "axles": "AXLES_8",
                                       "gross_vehicle_weight": 230,
                                       "vehicle_year": "2020",
                                       "vehicle_make": "CHRYSLER",
                                       "vehicle_model": "Pacifica",
                                       "assign_drivers": [
                                         11111,
                                         22222
                                       ],
                                       "vehicle_details": {
                                         "vehicle_height": 123,
                                         "vehicle_width": 123,
                                         "vehicle_length": 123,
                                         "vehicle_odometer": 5574.49,
                                         "vehicle_owner_name": "John Doe",
                                         "year_purchased": "2025",
                                         "tire_info": "Example",
                                         "transmission": "MANUAL",
                                         "sleeper_berth": false,
                                         "braking": "FULL_AIR_BRAKE",
                                         "fuel_capacity": 300
                                       }
                                     }',
               CURLOPT_HTTPHEADER => array(
                  'Authorization: Bearer {your_jwtToken}',
                  'Content-Type: application/json'
               ),
            ));


            $response = curl_exec($curl);


            curl_close($curl);

            echo $response;
          lang: PHP
        - source: >
            import requests

            import json


            url = "https://api.truckerpath.com/navpro/api/vehicle/add"


            payload = json.dumps({
                                   "vehicle_type": "TRUCK",
                                   "vehicle_no": "Truck001",
                                   "vehicle_vin": "12345",
                                   "fuel_type": "GASOLINE",
                                   "trailer_type": "VAN",
                                   "axles": "AXLES_8",
                                   "gross_vehicle_weight": 230,
                                   "vehicle_year": "2020",
                                   "vehicle_make": "CHRYSLER",
                                   "vehicle_model": "Pacifica",
                                   "assign_drivers": [
                                     11111,
                                     22222
                                   ],
                                   "vehicle_details": {
                                     "vehicle_height": 123,
                                     "vehicle_width": 123,
                                     "vehicle_length": 123,
                                     "vehicle_odometer": 5574.49,
                                     "vehicle_owner_name": "John Doe",
                                     "year_purchased": "2025",
                                     "tire_info": "Example",
                                     "transmission": "MANUAL",
                                     "sleeper_berth": false,
                                     "braking": "FULL_AIR_BRAKE",
                                     "fuel_capacity": 300
                                   }
                                 })
            headers = {
               'Authorization': 'Bearer {your_jwtToken}',
               'Content-Type': 'application/json'
            }


            response = requests.request("POST", url, headers=headers,
            data=payload)


            print(response.text)
          lang: Python
  /api/trip/create:
    post:
      tags:
        - 7. Trip APIS
      summary: Create Trip
      description: Generate customized trip routes and send to designated driver.
      operationId: createTrip
      parameters:
        - name: Idempotency-Key
          in: header
          description: Optional. A unique key (e.g. UUID) to ensure idempotency. Max 255
            characters. If the same key is sent within 24 hours, the original
            response will be returned without creating a duplicate trip.
          required: false
          schema:
            type: string
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TripInfo"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripCreateResponseVO"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{\n  \"scheduled_start_time\": \"2026-03-01T16:50:00Z\",\n  \"driver_id\": 1001,\n  \"routing_profile_id\": 6831,\n  \"stop_points\": [\n    {\n      \"latitude\": 43.51351,\n      \"longitude\": -96.74067,\n      \"address_name\": \"Sioux Falls, SD\",\n      \"appointment_time\": \"2026-03-01T18:35:00Z\",\n      \"dwell_time\": 30,\n      \"notes\": \"Call ahead before arrival\"\n    },\n    {\n      \"latitude\": 42.85929,\n      \"longitude\": -91.23645,\n      \"address_name\": \"Dubuque, IA\",\n      \"appointment_time\": \"2026-03-01T20:50:00Z\",\n      \"dwell_time\": 0\n    }\n  ]\n}");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/trip/create")
              .method("POST",body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();
          lang: Java
        - source: >+
            curl --location --request POST
            'https://api.truckerpath.com/navpro/api/trip/create' \

            --header 'Authorization: Bearer {your_jwtToken}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
              "scheduled_start_time": "2026-03-01T16:50:00Z",
              "driver_id": 1001,
              "routing_profile_id": 6831,
              "stop_points": [
                {
                  "latitude": 43.51351,
                  "longitude": -96.74067,
                  "address_name": "Sioux Falls, SD",
                  "appointment_time": "2026-03-01T18:35:00Z",
                  "dwell_time": 30,
                  "notes": "Call ahead before arrival"
                },
                {
                  "latitude": 42.85929,
                  "longitude": -91.23645,
                  "address_name": "Dubuque, IA",
                  "appointment_time": "2026-03-01T20:50:00Z",
                  "dwell_time": 0
                }
              ]
            }'


          lang: CURL
        - source: |
            var request = require('request');
            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/trip/create',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
              "scheduled_start_time": "2026-03-01T16:50:00Z",
              "driver_id": 1001,
              "routing_profile_id": 6831,
              "stop_points": [
                {
                  "latitude": 43.51351,
                  "longitude": -96.74067,
                  "address_name": "Sioux Falls, SD",
                  "appointment_time": "2026-03-01T18:35:00Z",
                  "dwell_time": 30,
                  "notes": "Call ahead before arrival"
                },
                {
                  "latitude": 42.85929,
                  "longitude": -91.23645,
                  "address_name": "Dubuque, IA",
                  "appointment_time": "2026-03-01T20:50:00Z",
                  "dwell_time": 0
                }
              ]
            })
            };
            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: |
            package main

            import (
               "fmt"
               "strings"
               "net/http"
               "io/ioutil"
            )

            func main() {

               url := "https://api.truckerpath.com/navpro/api/trip/create"
               method := "POST"

               payload := strings.NewReader(`{
              "scheduled_start_time": "2026-03-01T16:50:00Z",
              "driver_id": 1001,
              "routing_profile_id": 6831,
              "stop_points": [
                {
                  "latitude": 43.51351,
                  "longitude": -96.74067,
                  "address_name": "Sioux Falls, SD",
                  "appointment_time": "2026-03-01T18:35:00Z",
                  "dwell_time": 30,
                  "notes": "Call ahead before arrival"
                },
                {
                  "latitude": 42.85929,
                  "longitude": -91.23645,
                  "address_name": "Dubuque, IA",
                  "appointment_time": "2026-03-01T20:50:00Z",
                  "dwell_time": 0
                }
              ]
            }`)
               client := &http.Client {
               }
               req, err := http.NewRequest(method, url, payload)

               if err != nil {
                  fmt.Println(err)
                  return
               }
               req.Header.Add("Authorization", "Bearer {your_jwtToken}")
               req.Header.Add("Content-Type", "application/json")

               res, err := client.Do(req)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               defer res.Body.Close()

               body, err := ioutil.ReadAll(res.Body)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               fmt.Println(string(body))
            }
          lang: GO
        - source: >
            <?php


            $curl = curl_init();


            curl_setopt_array($curl, array(
               CURLOPT_URL => 'https://api.truckerpath.com/navpro/api/trip/create',
               CURLOPT_RETURNTRANSFER => true,
               CURLOPT_ENCODING => '',
               CURLOPT_MAXREDIRS => 10,
               CURLOPT_TIMEOUT => 0,
               CURLOPT_FOLLOWLOCATION => true,
               CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
               CURLOPT_CUSTOMREQUEST => 'POST',
               CURLOPT_POSTFIELDS =>'{
              "scheduled_start_time": "2026-03-01T16:50:00Z",
              "driver_id": 1001,
              "routing_profile_id": 6831,
              "stop_points": [
                {
                  "latitude": 43.51351,
                  "longitude": -96.74067,
                  "address_name": "Sioux Falls, SD",
                  "appointment_time": "2026-03-01T18:35:00Z",
                  "dwell_time": 30,
                  "notes": "Call ahead before arrival"
                },
                {
                  "latitude": 42.85929,
                  "longitude": -91.23645,
                  "address_name": "Dubuque, IA",
                  "appointment_time": "2026-03-01T20:50:00Z",
                  "dwell_time": 0
                }
              ]
            }',
               CURLOPT_HTTPHEADER => array(
                  'Authorization: Bearer {your_jwtToken}',
                  'Content-Type: application/json'
               )
            ));


            $response = curl_exec($curl);


            curl_close($curl);

            echo $response;
          lang: PHP
        - source: >
            import requests

            import json


            url = "https://api.truckerpath.com/navpro/api/trip/create"


            payload = json.dumps({
              "scheduled_start_time": "2026-03-01T16:50:00Z",
              "driver_id": 1001,
              "routing_profile_id": 6831,
              "stop_points": [
                {
                  "latitude": 43.51351,
                  "longitude": -96.74067,
                  "address_name": "Sioux Falls, SD",
                  "appointment_time": "2026-03-01T18:35:00Z",
                  "dwell_time": 30,
                  "notes": "Call ahead before arrival"
                },
                {
                  "latitude": 42.85929,
                  "longitude": -91.23645,
                  "address_name": "Dubuque, IA",
                  "appointment_time": "2026-03-01T20:50:00Z",
                  "dwell_time": 0
                }
              ]
            })


            headers = {
               'Authorization': 'Bearer {your_jwtToken}',
               'Content-Type': 'application/json'
            }


            response = requests.request("POST", url, headers=headers,
            data=payload)


            print(response.text)
          lang: Python
  /api/tracking/get/driver-dispatch:
    post:
      tags:
        - 2. Tracking APIS
      summary: Query Driver Dispatch
      description: Retrieve GPS trail and active trip ETA for a driver. Returns the
        trail as a list of location points and, if the driver is currently
        In_transit, the active trip info including estimated dropoff arrival
        time (ETA in UTC). If the driver is not In_transit, active_trip will be
        null.
      operationId: getDriverDispatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryDriverDispatch"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriverDispatchResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{\"driver_id\": 8569147,\"time_range\": {\"start_time\": \"2026-03-01T00:00:00Z\",\"end_time\": \"2026-03-31T23:59:59Z\"}}");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/tracking/get/driver-dispatch")
              .method("POST",body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();
          lang: Java
        - source: |
            curl --location --request POST 'https://api.truckerpath.com/navpro/api/tracking/get/driver-dispatch' \
            --header 'Authorization: Bearer {your_jwtToken}' \
            --header 'Content-Type: application/json' \
            --data-raw '{
                          "driver_id": 8569147,
                          "time_range": {
                            "start_time": "2026-03-01T00:00:00Z",
                            "end_time": "2026-03-31T23:59:59Z"
                          },
                        }'
          lang: CURL
        - source: >
            var request = require('request');

            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/tracking/get/driver-dispatch',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "driver_id": 8569147,
                    "time_range": {
                        "start_time": "2026-03-01T00:00:00Z",
                        "end_time": "2026-03-31T23:59:59Z"
                    }
                })

            };

            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: >
            package main


            import (
               "fmt"
               "strings"
               "net/http"
               "io/ioutil"
            )


            func main() {

               url := "https://api.truckerpath.com/navpro/api/tracking/get/driver-dispatch"
               method := "POST"

               payload := strings.NewReader(`{
                                               "driver_id": 8569147,
                                               "time_range": {
                                                   "start_time": "2026-03-01T00:00:00Z",
                                                   "end_time": "2026-03-31T23:59:59Z"
                                               },
                                             }`)

               client := &http.Client {
               }
               req, err := http.NewRequest(method, url, payload)

               if err != nil {
                  fmt.Println(err)
                  return
               }
               req.Header.Add("Authorization", "Bearer {your_jwtToken}")
               req.Header.Add("Content-Type", "application/json")

               res, err := client.Do(req)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               defer res.Body.Close()

               body, err := ioutil.ReadAll(res.Body)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               fmt.Println(string(body))
            }
          lang: GO
        - source: >
            <?php


            $curl = curl_init();


            curl_setopt_array($curl, array(
               CURLOPT_URL => 'https://api.truckerpath.com/navpro/api/tracking/get/driver-dispatch',
               CURLOPT_RETURNTRANSFER => true,
               CURLOPT_ENCODING => '',
               CURLOPT_MAXREDIRS => 10,
               CURLOPT_TIMEOUT => 0,
               CURLOPT_FOLLOWLOCATION => true,
               CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
               CURLOPT_CUSTOMREQUEST => 'POST',
               CURLOPT_POSTFIELDS =>'{
                                       "driver_id": 8569147,
                                       "time_range": {
                                           "start_time": "2026-03-01T00:00:00Z",
                                           "end_time": "2026-03-31T23:59:59Z"
                                       }
                                     }',
               CURLOPT_HTTPHEADER => array(
                  'Authorization: Bearer {your_jwtToken}',
                  'Content-Type: application/json'
               ),
            ));


            $response = curl_exec($curl);


            curl_close($curl);

            echo $response;
          lang: PHP
        - source: |
            import requests
            import json

            url = "https://api.truckerpath.com/navpro/api/tracking/get/driver-dispatch"

            payload = json.dumps({
                                   "driver_id": 8569147,
                                   "time_range": {
                                       "start_time": "2026-03-01T00:00:00Z",
                                       "end_time": "2026-03-31T23:59:59Z"
                                   },
                                 })
            headers = {
               'Authorization': 'Bearer {your_jwtToken}',
               'Content-Type': 'application/json'
            }

            response = requests.request("POST", url, headers=headers, data=payload)

            print(response.text)
          lang: Python
  /api/terminal/edit:
    post:
      tags:
        - 4. Terminal APIS
      summary: Edit Terminal
      description: Modify the name of a terminal.
      operationId: editTerminal
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditTerminal"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseVo"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{\"terminal_name\": \"Driver Terminal 1\",\"terminal_id\": 45614 }");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/terminal/edit")
              .method("POST",body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();
          lang: Java
        - source: >
            curl --location --request POST
            'https://api.truckerpath.com/navpro/api/terminal/edit' \

            --header 'Authorization: Bearer {your_jwtToken}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                          "terminal_name": "Driver Terminal 1",
                          "terminal_id": 45614
                        }'
          lang: CURL
        - source: |
            var request = require('request');
            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/terminal/edit',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "terminal_name": "Driver Terminal 1",
                    "terminal_id": 45614
                })
            };
            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: >
            package main


            import (
               "fmt"
               "strings"
               "net/http"
               "io/ioutil"
            )


            func main() {

               url := "https://api.truckerpath.com/navpro/api/terminal/edit"
               method := "POST"

               payload := strings.NewReader(`{
                                               "terminal_name": "Driver Terminal 1",
                                               "terminal_id": 45614
                                             }`)

               client := &http.Client {
               }
               req, err := http.NewRequest(method, url, payload)

               if err != nil {
                  fmt.Println(err)
                  return
               }
               req.Header.Add("Authorization", "Bearer {your_jwtToken}")
               req.Header.Add("Content-Type", "application/json")

               res, err := client.Do(req)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               defer res.Body.Close()

               body, err := ioutil.ReadAll(res.Body)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               fmt.Println(string(body))
            }
          lang: GO
        - source: >
            <?php


            $curl = curl_init();


            curl_setopt_array($curl, array(
               CURLOPT_URL => 'https://api.truckerpath.com/navpro/api/terminal/edit',
               CURLOPT_RETURNTRANSFER => true,
               CURLOPT_ENCODING => '',
               CURLOPT_MAXREDIRS => 10,
               CURLOPT_TIMEOUT => 0,
               CURLOPT_FOLLOWLOCATION => true,
               CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
               CURLOPT_CUSTOMREQUEST => 'POST',
               CURLOPT_POSTFIELDS =>'{
                                        "terminal_name": "Driver Terminal 1",
                                        "terminal_id": 45614
                                      }',
               CURLOPT_HTTPHEADER => array(
                  'Authorization: Bearer {your_jwtToken}',
                  'Content-Type: application/json'
               ),
            ));


            $response = curl_exec($curl);


            curl_close($curl);

            echo $response;
          lang: PHP
        - source: >
            import requests

            import json


            url = "https://api.truckerpath.com/navpro/api/terminal/edit"


            payload = json.dumps({
                                    "terminal_name": "Driver Terminal 1",
                                    "terminal_id": 45614
                                  })
            headers = {
               'Authorization': 'Bearer {your_jwtToken}',
               'Content-Type': 'application/json'
            }


            response = requests.request("POST", url, headers=headers,
            data=payload)


            print(response.text)
          lang: Python
  /api/terminal/create:
    post:
      tags:
        - 4. Terminal APIS
      summary: Create Terminal
      description: Create a new terminal.
      operationId: createTerminal
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTerminal"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdResultVO"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{\"terminal_name\": \"Driver Terminal 1\" }");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/terminal/create")
              .method("POST",body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();
          lang: Java
        - source: >
            curl --location --request POST
            'https://api.truckerpath.com/navpro/api/terminal/create' \

            --header 'Authorization: Bearer {your_jwtToken}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                          "terminal_name": "Driver Terminal 1"
                        }'
          lang: CURL
        - source: |
            var request = require('request');
            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/terminal/create',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "terminal_name": "Driver Terminal 1"
                })

            };
            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: >
            package main


            import (
               "fmt"
               "strings"
               "net/http"
               "io/ioutil"
            )


            func main() {

               url := "https://api.truckerpath.com/navpro/api/terminal/create"
               method := "POST"

               payload := strings.NewReader(`{
                                               "terminal_name": "Driver Terminal 1"
                                             }`)

               client := &http.Client {
               }
               req, err := http.NewRequest(method, url, payload)

               if err != nil {
                  fmt.Println(err)
                  return
               }
               req.Header.Add("Authorization", "Bearer {your_jwtToken}")
               req.Header.Add("Content-Type", "application/json")

               res, err := client.Do(req)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               defer res.Body.Close()

               body, err := ioutil.ReadAll(res.Body)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               fmt.Println(string(body))
            }
          lang: GO
        - source: >
            <?php


            $curl = curl_init();


            curl_setopt_array($curl, array(
               CURLOPT_URL => 'https://api.truckerpath.com/navpro/api/terminal/create',
               CURLOPT_RETURNTRANSFER => true,
               CURLOPT_ENCODING => '',
               CURLOPT_MAXREDIRS => 10,
               CURLOPT_TIMEOUT => 0,
               CURLOPT_FOLLOWLOCATION => true,
               CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
               CURLOPT_CUSTOMREQUEST => 'POST',
               CURLOPT_POSTFIELDS =>'{
                                     "terminal_name": "Driver Terminal 1"
                                    }',
               CURLOPT_HTTPHEADER => array(
                  'Authorization: Bearer {your_jwtToken}',
                  'Content-Type: application/json'
               ),
            ));


            $response = curl_exec($curl);


            curl_close($curl);

            echo $response;
          lang: PHP
        - source: >
            import requests

            import json


            url = "https://api.truckerpath.com/navpro/api/terminal/create"


            payload = json.dumps({
                                 "terminal_name": "Driver Terminal 1"
                                     })
            headers = {
               'Authorization': 'Bearer {your_jwtToken}',
               'Content-Type': 'application/json'
            }


            response = requests.request("POST", url, headers=headers,
            data=payload)


            print(response.text)
          lang: Python
  /api/terminal/add/member:
    post:
      tags:
        - 4. Terminal APIS
      summary: Add Terminal Member
      description: Add a driver to the specified terminal.
      operationId: addMember
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMember"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseVo"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{\"terminal_id\": 256847,\"members\": [68457,68243]}");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/terminal/add/member")
              .method("POST",body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();
          lang: Java
        - source: >
            curl --location --request POST
            'https://api.truckerpath.com/navpro/api/terminal/add/member' \

            --header 'Authorization: Bearer {your_jwtToken}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                          "terminal_id": 256847,
                          "members": [
                            68457,
                            68243
                          ]
                        }'
          lang: CURL
        - source: >
            var request = require('request');

            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/terminal/add/member',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "terminal_id": 256847,
                    "members": [
                        68457,
                        68243
                    ]
                })

            };

            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: >
            package main


            import (
               "fmt"
               "strings"
               "net/http"
               "io/ioutil"
            )


            func main() {

               url := "https://api.truckerpath.com/navpro/api/terminal/add/member"
               method := "POST"

               payload := strings.NewReader(`{
                                               "terminal_id": 256847,
                                               "members": [
                                                 68457,
                                                 68243
                                               ]
                                             }`)

               client := &http.Client {
               }
               req, err := http.NewRequest(method, url, payload)

               if err != nil {
                  fmt.Println(err)
                  return
               }
               req.Header.Add("Authorization", "Bearer {your_jwtToken}")
               req.Header.Add("Content-Type", "application/json")

               res, err := client.Do(req)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               defer res.Body.Close()

               body, err := ioutil.ReadAll(res.Body)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               fmt.Println(string(body))
            }
          lang: GO
        - source: >
            <?php


            $curl = curl_init();


            curl_setopt_array($curl, array(
               CURLOPT_URL => 'https://api.truckerpath.com/navpro/api/customer/add',
               CURLOPT_RETURNTRANSFER => true,
               CURLOPT_ENCODING => '',
               CURLOPT_MAXREDIRS => 10,
               CURLOPT_TIMEOUT => 0,
               CURLOPT_FOLLOWLOCATION => true,
               CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
               CURLOPT_CUSTOMREQUEST => 'POST',
               CURLOPT_POSTFIELDS =>'{
                                       "terminal_id": 256847,
                                       "members": [
                                       68457,
                                       68243
                                       ]
                                       }',
               CURLOPT_HTTPHEADER => array(
                  'Authorization: Bearer {your_jwtToken}',
                  'Content-Type: application/json'
               ),
            ));


            $response = curl_exec($curl);


            curl_close($curl);

            echo $response;
          lang: PHP
        - source: >
            import requests

            import json


            url = "https://api.truckerpath.com/navpro/api/terminal/add/member"


            payload = json.dumps({
                                   "terminal_id": 256847,
                                   "members": [
                                   68457,
                                   68243
                                   ]
                                   })
            headers = {
               'Authorization': 'Bearer {your_jwtToken}',
               'Content-Type': 'application/json'
            }


            response = requests.request("POST", url, headers=headers,
            data=payload)


            print(response.text)
          lang: Python
  /api/poi/query:
    post:
      tags:
        - 6. Poi APIS
      summary: Query POI
      description: Pagination query for all POIs within a specific POI group.
      operationId: queryPageablePoiInfos
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryPoiInfoVo"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoiResponseVo"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{  \"page\": 0,  \"size\": 20,  \"group_id\": 754114,  \"external_ids\": [    \"Poi00001\",    \"Poi00002\"  ]}");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/poi/query")
              .method(POST,body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();
          lang: Java
        - source: >+
            curl --location --request POST
            'https://api.truckerpath.com/navpro/api/poi/query' \

            --header 'Authorization: Bearer {your_jwtToken}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
              "page": 0,
              "size": 20,
              "group_id": 754114,
              "external_ids": [
                "Poi00001",
                "Poi00002"
              ]
            }'

          lang: CURL
        - source: |
            var request = require('request');
            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/poi/query',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
              "page": 0,
              "size": 20,
              "group_id": 754114,
              "external_ids": [
                "Poi00001",
                "Poi00002"
              ]
            })
            };
            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: |
            package main

            import (
               "fmt"
               "net/http"
               "io/ioutil"
            )

            func main() {

               url := "https://api.truckerpath.com/navpro/api/poi/query"
               method := "POST"

               payload := strings.NewReader(`{
              "page": 0,
              "size": 20,
              "group_id": 754114,
              "external_ids": [
                "Poi00001",
                "Poi00002"
              ]
            }`)
               client := &http.Client {
               }
               req, err := http.NewRequest(method, url, payload)

               if err != nil {
                  fmt.Println(err)
                  return
               }
               req.Header.Add("Authorization", "Bearer {your_jwtToken}")
               req.Header.Add("Content-Type", "application/json")

               res, err := client.Do(req)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               defer res.Body.Close()

               body, err := ioutil.ReadAll(res.Body)
               if err != nil {
                  fmt.Println(err)
                  return
               }
               fmt.Println(string(body))
            }
          lang: GO
        - source: >
            <?php


            $curl = curl_init();


            curl_setopt_array($curl, array(
               CURLOPT_URL => 'https://api.truckerpath.com/navpro/api/poi/query',
               CURLOPT_RETURNTRANSFER => true,
               CURLOPT_ENCODING => '',
               CURLOPT_MAXREDIRS => 10,
               CURLOPT_TIMEOUT => 0,
               CURLOPT_FOLLOWLOCATION => true,
               CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
               CURLOPT_CUSTOMREQUEST => 'POST',
               CURLOPT_POSTFIELDS =>'{
              "page": 0,
              "size": 20,
              "group_id": 754114,
              "external_ids": [
                "Poi00001",
                "Poi00002"
              ]
            }',
               CURLOPT_HTTPHEADER => array(
                  'Authorization: Bearer {your_jwtToken}',
                  'Content-Type: application/json'
               )
            ));


            $response = curl_exec($curl);


            curl_close($curl);

            echo $response;
          lang: PHP
        - source: |
            import requests
            import json

            url = "https://api.truckerpath.com/navpro/api/poi/query"

            payload = json.dumps({
              "page": 0,
              "size": 20,
              "group_id": 754114,
              "external_ids": [
                "Poi00001",
                "Poi00002"
              ]
            })

            headers = {
               'Authorization': 'Bearer {your_jwtToken}',
               'Content-Type': 'application/json'
            }

            response = requests.request("POST", url, headers=headers)

            print(response.text)
          lang: Python
  /api/poi/edit:
    post:
      tags:
        - 6. Poi APIS
      summary: Edit POI
      description: Modify basic information and last mile infos about the poi.
        Location information such as latitude and longitude cannot be modified.
      operationId: editCustomizePoi
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PoiEditRequestVO"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseVo"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample400"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample404"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseExample500"
      security:
        - Authorization: []
      x-code-samples:
        - source: >
            OkHttpClient client=new OkHttpClient().newBuilder()
              .build();
              MediaType mediaType=MediaType.parse("application/json");
              RequestBody body=RequestBody.create(mediaType,"{ \"name\": \"MCDONALD'S\", \"poi_id\": 415714,  \"external_id\": \"98524818\",  \"contact_number\": \"111-222-3333\",  \"site_instruction\": \"This is a description example.\",  \"site_detail\": {    \"entrance\": [      {        \"latitude\": 33.768637172618696,        \"longitude\": -118.20210121482552,        \"path\": [          {            \"latitude\": 33.767284073170934,            \"longitude\": -118.20188556076194          },          {            \"latitude\": 33.76726830662819,            \"longitude\": -118.20294605499872          },          {            \"latitude\": 33.7672529085608,            \"longitude\": -118.20352649304614          }        ],        \"path_type\": \"ROAD_PATH\",        \"site_id\": 1452354      }    ],    \"exit\": [      {        \"latitude\": 33.768637172618696,        \"longitude\": -118.20210121482552,        \"path\": [          {            \"latitude\": 33.767284073170934,            \"longitude\": -118.20188556076194          },          {            \"latitude\": 33.76726830662819,            \"longitude\": -118.20294605499872          },          {            \"latitude\": 33.7672529085608,            \"longitude\": -118.20352649304614          }        ],        \"path_type\": \"ROAD_PATH\",        \"site_id\": 1452353      }    ]  }}");
              Request request=new Request.Builder()
              .url("https://api.truckerpath.com/navpro/api/poi/edit")
              .method(POST,body)
              .addHeader("Authorization","Bearer {your_jwtToken}")
              .addHeader("Content-Type","application/json")
              .build();
              Response response=client.newCall(request).execute();
          lang: Java
        - source: >+
            curl --location --request POST
            'https://api.truckerpath.com/navpro/api/poi/edit' \

            --header 'Authorization: Bearer {your_jwtToken}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
              "name": "MCDONALD'S",
              "poi_id": 415714,
              "external_id": "98524818",
              "contact_number": "111-222-3333",
              "site_instruction": "This is a description example.",
              "site_detail": {
                "entrance": [
                  {
                    "latitude": 33.768637172618696,
                    "longitude": -118.20210121482552,
                    "path": [
                      {
                        "latitude": 33.767284073170934,
                        "longitude": -118.20188556076194
                      },
                      {
                        "latitude": 33.76726830662819,
                        "longitude": -118.20294605499872
                      },
                      {
                        "latitude": 33.7672529085608,
                        "longitude": -118.20352649304614
                      }
                    ],
                    "path_type": "ROAD_PATH",
                    "site_id": 1452354
                  }
                ],
                "exit": [
                  {
                    "latitude": 33.768637172618696,
                    "longitude": -118.20210121482552,
                    "path": [
                      {
                        "latitude": 33.767284073170934,
                        "longitude": -118.20188556076194
                      },
                      {
                        "latitude": 33.76726830662819,
                        "longitude": -118.20294605499872
                      },
                      {
                        "latitude": 33.7672529085608,
                        "longitude": -118.20352649304614
                      }
                    ],
                    "path_type": "ROAD_PATH",
                    "site_id": 1452353
                  }
                ]
              }
            }'

          lang: CURL
        - source: |
            var request = require('request');
            var options = {
                'method': 'POST',
                'url': 'https://api.truckerpath.com/navpro/api/poi/edit',
                'headers': {
                    'Authorization': 'Bearer {your_jwtToken}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
              "name": "MCDONALD'S",
              "poi_id": 415714,
              "external_id": "98524818",
              "contact_number": "111-222-3333",
              "site_instruction": "This is a description example.",
              "site_detail": {
                "entrance": [
                  {
                    "latitude": 33.768637172618696,
                    "longitude": -118.20210121482552,
                    "path": [
                      {
                        "latitude": 33.767284073170934,
                        "longitude": -118.20188556076194
                      },
                      {
                        "latitude": 33.76726830662819,
                        "longitude": -118.20294605499872
                      },
                      {
                        "latitude": 33.7672529085608,
                        "longitude": -118.20352649304614
                      }
                    ],
                    "path_type": "ROAD_PATH",
                    "site_id": 1452354
                  }
                ],
                "exit": [
                  {
                    "latitude": 33.768637172618696,
                    "longitude": -118.20210121482552,
                    "path": [
                      {
                        "latitude": 33.767284073170934,
                        "longitude": -118.20188556076194
                      },
                      {
                        "latitude": 33.76726830662819,
                        "longitude": -118.20294605499872
                      },
                      {
                        "latitude": 33.7672529085608,
                        "longitude": -118.20352649304614
                      }
                    ],
                    "path_type": "ROAD_PATH",
                    "site_id": 1452353
                  }
                ]
              }
            })
            };
            request(options, function (error, response) {
                if (error) throw new Error(error);
                console.log(response.body);
            });
          lang: JavaScript
        - source: |
            package main

            import (
               "fmt"
               "net/http"
               "io/ioutil"
            )

            func main() {

               url := "https://api.truckerpath.com/navpro/api/poi/edit"
               method := "POST"

               payload := strings.NewReader(`{
              "name": "MCDONALD'S",
              "poi_id": 415714,
              "external_id": "98524818",
              "contact_number": "111-222-3333",
              "site_instruction": "This is a description example.",
              "site_detail": {
                "entrance": [
                  {
                    "latitude": 33.768637172618696,
                    "longitude": -118.20210121482552,
                    "path": [
                      {
                        "latitude": 33.767284073170934,
[...]
